@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background: #ccc;
  box-sizing: border-box;
  width: 100%;
  height: 80vh;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inventory {
  width: 335px;
  height: 200px;
  background: #c6c6c6;
  border-radius: 3px;
  box-shadow: 5px 5px 0px #555555, inset 4px 4px 0px #fefefe;
  padding-top: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
}

h1 {
  margin: 5px 10px;
  font-family: 'VT323', monospace;
  font-size: 24px;
  color: #404040;
}

.number {
  font-family: 'VT323', monospace;
  font-size: 24px;
  color: #fefefe;
  position: relative;
  text-shadow: #333 1px 2px 1px;
  top: -16px;
  right: -8px;
  cursor: default;
}

.slot {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  background: #8b8b8b;
  box-shadow: inset 1.5px 1.5px 0px rgba(55, 55, 55, 0.8),
    inset -2px -2px 0px #ffffff;
}

.slotSpace {
  margin: 10px 10px;
  display: flex;
  flex-wrap: wrap;
}

.invisible {
  visibility: hidden;
}

.item {
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30px;
  height: 30px;
}

.item img {
  width: 28px;
}

.ghostItem img {
  width: 28px;
}
.ghostItem .number {
  top: -20px;
  right: -13px;
}

::selection {
  background: transparent;
}

::-moz-selection {
  background: transparent;
}

.copy {
  font-family: 'VT323', monospace;
  font-size: 18px;
  width: 350px;
  display: flex;
  justify-content: flex-end;
  color: #333;
}

a {
  color: inherit;
  text-decoration: inherit;
}
